/* Tailwind base styles, components and utilities swapped in with npm run build */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* added to tailwind.config.js */
  html {
    /* scroll-behavior: smooth; */
  }
}

:root {
  --bg-color-primary: #e47300;
  /* --bg-color-secondary: #d95938; */
  --bg-color-secondary: #f2e6cc;
  --text-color-primary: #e47300;
  --text-color-secondary: #f2e6cc;
}

.blog-thumbnail {
  aspect-ratio: 3/2;
  object-fit: cover;
}

.list-lower-alpha {
  list-style-type: lower-alpha;
}

.bg-color-secondary {
  background-color: var(--bg-color-secondary);
}

.text-color-primary {
  color: var(--text-color-primary);
}
.text-color-secondary {
  color: var(--text-color-secondary);
}

.bg-color-primary {
  background-color: var(--bg-color-primary) !important;
}

.border-primary {
  border-color: var(--bg-color-primary);
}

.bg-hero {
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -10;
  height: 100%;
  width: 100%;
}

.bg-hero-one {
  background-image: url('../images/9.jpg');
  /* background-position-y: 30%; */
  /* filter: brightness(40%); */
}

.bg-hero-two {
  background-image: url('../images/hero-2.jpg');
}

.bg-hero-three {
  background-image: url('../images/hero-3.jpg');
  background-position: bottom;
  /* filter: brightness(40%); */
}

.bg-overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -10;
  filter: brightness(50%);
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.bg-overlay-dark {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -10;
  filter: brightness(30%);
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.about-img {
  aspect-ratio: 1;
  object-fit: cover;
}

.bg-footer {
  background-color: #402a1d;
}

.btn-bg {
  background-color: #ccdeff;
}

.icon-bg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.logo {
  max-width: 10rem;
  min-width: 7rem;
}

.vl {
  border-color: black;
  border-left: 8px solid;
}

.text-gap {
  margin-left: -0.3rem;
}

.nav {
  transform: translateX(-9rem);
  transition: all 0.4s;
}

.nav.show {
  transform: translateX(0);
}

.nav-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.nav-dynamic {
  transform: translateY(-6rem);
  transition: all 0.4s;
}

.nav-dynamic.show {
  transform: translateY(0);
}

.swiper-pagination-bullet {
  background-color: white !important;
}

.nav-close:hover {
  background-color: white;
  color: var(--bg-color-primary);
  transition: all 0.4s;
}

.practice-list a:hover {
  color: white;
}

a {
  text-decoration: none;
}

iframe {
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
}

.top-btn {
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
}

.top-btn.show {
  opacity: 1;
  pointer-events: all;
}

.fa-brands:hover {
  color: var(--text-color-secondary);
}

.powered-by:hover {
  color: var(--text-color-secondary);
}

@media (min-width: 768px) {
  .text-gap {
    margin-left: -0.5rem;
  }
}
